@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}


@include breakpoint-sm {
  .tags {
    justify-content: flex-end;
  }
}